*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.contain-img{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:end;
    
}
.image{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
}
img{
    width: 85.5%;
    height: 100%;
    border: solid 2px rgba(128, 128, 128, 0.1);
    border-right:none ;
    border-radius: 20px 0px 0px 20px;
}
.contain-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: start;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    border: solid 2px rgba(128, 128, 128, 0.1);
    border-left:none ;
    padding: 30px ;
}   
h1{
    text-align: center;

}
.infor-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}
.infor-name{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.first-name{
    display: flex;
    flex-direction: column;
}
.last-name{
    display: flex;
    flex-direction: column;
}
input[type = "text"] {
    padding: 8px;
    border-radius: 10px;
    width: 140px;
    border: 1px solid gray;
}

.email{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
input[type = "email"] {
    padding: 8px;
    border-radius: 10px;
    width: 310px;
    border: 1px solid gray;
}
.password{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
input[type = "password"] {
    padding: 8px;
    border-radius: 10px;
    width: 310px;
    border: 1px solid gray;
}
p{
   margin-top: 10px;
}
/* .login{
    margin-top: 30px;
} */
#btn{
    background-color: orange;
    padding: 8px;
    width: 310px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
#btn{
    transition: 2ms;
}
a{
    text-decoration: none;
    color: white;
    font-weight:bold ;
}
.signemail{
    margin-top: 20px;
}
#btnlogin{
    padding: 10px;
    width: 390px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
}
#submit{
    width: 310px;
    padding: 8px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
}
i{
    color: #FF5733;
    margin-right: 10px;
}
#p{
    text-align: center;
    margin-top: 50px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    img{
        width: 100%;
        height: 100%;
        border: solid 2px rgba(128, 128, 128, 0.1);
        border-right:none ;
        border-radius: 20px 0px 0px 20px;
    }
    form{
        padding: 24px ;
    } 
    
    

  }

@media (max-width: 428px) {
    body{
        background-image: url(../images/management.jpg);
        background-size: cover;
    }
    form{
        background-color: rgba(255, 255, 255, 0.922);
    } 
    img{
        display: none;
    }
    
  
} 