*{
    font-family: sans-serif;
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    
}
#nav-bar{
    background-color: #029588;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
   
    /* width: 100%; */
}

.nav-bar-left{
    display: flex;
    align-items: center;
    gap: 10px;

}
.fa-solid{
    padding: 5px ;  
    width: 20px;
    height: 20px; 
    color: rgb(255, 255, 255);
    border: solid 1px ;
}
#uer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: black;
    border: none;
    
}
#uer-icon:hover{
    color:white    ;
    font-size: 24px;
}
#btn-user:hover{
    color: red;
}

#sideBar{
    top: 30%;
    position: fixed;
    width: 10%;
    display: flex;
    flex-direction: column;
    transform: translateX(0); /* Default visible state */
    transition: transform 0.3s ease;
    transform: translateX(-100%); /* Move sidebar out of view */

}
#menu:hover, #btn-user:hover{
    color: white;
    font-size: 30px;
}
#sideBar.hidden{
    transform: translateX(0%); /* Move sidebar out of view */
}

.tage{
    background-color: #20B2AA;
    border-bottom: solid 1px rgb(212, 212, 212);
}
.tage:nth-child(5){
    /* border-bottom: none; */
    border-radius: 0px 0px 10px 0px;
    
}
.tage:nth-child(1){
    /* border-bottom: none; */
    border-radius: 0px 10px 0px 0px;
    
}
.tage:hover{
    background-color:rgb(76, 152, 152);

}
#sideBar a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#sideBar a:hover{
    
    color: rgb(255, 255, 255);
}
#sideBar-link{
    padding-left: 10px;
}
/* end */
.mainStorPrduct{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;


}
/* form input  */
#form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
    /* width: 9%; */
    
}
.input{
    height: 30px;
    width: 43%;
    margin: 10px;
    border: none;
    border-bottom: solid 2px;
}

/* btn sent */
.create-btn{
    position:fixed;
    top: 85%;
    left: 93%;
}
#btn{
    background-color: orange;
    border-radius: 100%;
    border: none;
    padding: 13px 15px;  
    font-size: 20px;
}
#btn:hover{
    box-shadow: rgba(67, 66, 60, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border:  rgb(255, 185, 8) 2px solid;
}
.fa-send{
    color: white;
}
.form-store-data{
    display: flex;
    justify-content: center;
    padding:0px 4%;
}
/* table */
table {
    border-collapse: collapse; 
    width: 100%; 
    margin: 20px 0;
    background-color: #ffffff; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px; 
    font-size: 14px; 
}

th {
    background-color: #029588;
    color: white; 
    font-weight: bold;
    text-transform: uppercase; 
}

tr:nth-child(even) {
    background-color: #f9f9f9; 
}

tr:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

td img {
    width: 50px; 
}

/*  */
