* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  #nav-bar{
    background-color: #029588;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
  }
  
  .nav-bar-left{
    display: flex;
    align-items: center;
    gap: 10px;
  
  }
  
  #uer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: black;
    border: none;
    
  }
  #uer-icon:hover{
    color:white    ;
    font-size: 24px;
  }
  
  #nav-bar{
    height: 8vh;
  
  }
  .nav-bar-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: black;
    border: none;
  }
  #user-icon:hover {
    color: white;
    font-size: 24px;
  }
  aside {
    height: 90vh;
    width: 100%;
  }
  #menu-button {
    background-color: #029588;
    color: white;
    border: none; 
    /* border-radius: 5px; */
    cursor: pointer;  
    
  
    /* font-size:25px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
  }
  
  
  
  
  .aside-bar {
    top: 10%;
    position: fixed;
    width: 12%;
    display: flex;
    flex-direction: column;
    transform: translateX(0); /* Default visible state */
    transition: transform 0.3s ease;
    transform: translateX(-100%); /* Move sidebar out of view */
  }
  .aside-bar.hidden {
    transform: translateX(0%); /* Move sidebar out of view */
  }
  
  .aside-right {
    width: 100%;
    height: 70vh;
  }
  
  .aside-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  
  /* Sidebar */
  #sidebar {
    width: 200px;
    background-color: #008080;
    color: white;
    padding: 20px 0px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #title-app{
    text-align: center;
  }
  #sidebar.hidden {
    transform: translateX(-100%);
  }
  
  #sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #sidebar ul {
    list-style: none;
  }
  
  #sidebar ul li {
    margin: 15px 0;
    display: flex;
    align-items: center;
  }
  
  #sidebar ul li i {
    margin-right: 10px;
  }
  .icon{
    gap: 10px;
  }
  .add-product{
    border-radius: 0px 10px 10px 0px;
    background-color: #f9f9f9;  
    a{
      color: black;
    }
    
  }
  .aside-icon:hover{
    background-color: rgb(232, 232, 232);
    a{
      color: black;
      font-weight: bold;
    }
  }
  .icon-store{
    border-radius: 100px ;
  }
  
  .aside-icon{
    padding: 10px 10px 10px 10px;
    border-radius: 10px 0px 0px 10px  ;
    margin: 0% 0% 0% 5%;
  }
  
  a{
    text-decoration: none;
    color: white;
  }
  i{
    margin-right: 20px;
  }
  /* Main Content */
  #main-content {
    margin-left: 200px;
    flex-grow: 1;
    transition: margin-left 0.3s ease-in-out;
    
  }
  .header{
    padding-left: 30px;
    margin-top: 10px;
  }
  
  #main-content.compact {
    margin-left: 0;
  }
  
/* container */
.container{
    height: 90%;
    display: flex;
    flex-direction: column;
}
.create-btn{
    position:fixed;
    top: 85%;
    left: 95%;
}
#btn{
    background-color: orange;
    border-radius: 100%;
    border: none;
    padding: 10px 15px;  
    font-size: 20px;
}
#btn:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border:  gray 2px solid;
}





.main-store{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
    background-color: #007E72;
    color: white;
}
#main-store{
    font-size: 24px;
}
.fa-folder{
    color: #007E72;
    font-size: 30px;
    border: none;

}
.card-diragetorys{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.diragetory{
    padding: 0px 30px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 43%;
}
.diragetory:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color:   rgba(128, 128, 128, 0.187);
}
.folder-name{
    display: flex;
    gap: 30px;
}
.fa-trash{
    color: gray;
    border: none;   
}
.fa-trash:hover{
    color: red;
}
#btn-trush{
    border: none;
    background: none;
}
.fa-square-poll-vertical{
    color: orange;
    border: none;

}
.total-product{
    display: flex;
    gap: 5px;
    align-items: center;
    
}
/* .total-product */

#formModal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#formOverlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* product page */
#btn,#btn-create{
    background-color: orange;
    border-radius: 100%;
    border: none;
    padding: 10px 15px;  
    font-size: 20px;
}
#btn:hover,#btn-create:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border:  gray 2px solid;
}
.main-store{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
    background-color: #007E72;
    color: white;
}
#main-store{
    font-size: 24px;
}
.fa-folder{
    color: #007E72;
    font-size: 30px;
    border: none;

}
.card-diragetorys{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.diragetory{
    padding: 0px 30px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 43%;
}
.diragetory:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color:   rgba(128, 128, 128, 0.187);
}
.folder-name{
    display: flex;
    gap: 30px;
}
.fa-trash{
    color: gray;
    border: none;   
}
.fa-trash:hover{
    color: red;
}
#btn-trush{
    border: none;
    background: none;
}
.fa-square-poll-vertical{
    color: orange;
    border: none;

}
.total-product{
    display: flex;
    gap: 5px;
    align-items: center;
    
}
/* .total-product */

#formModal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#formOverlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* new page */
.mainStorPrduct{
    height: 90vh;
    /* background-color: #7e0058; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formStoreProduct{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 10px;
    width: 90%;
    /* height: 10vh; */

}
#searchInput{
    width: 80%;
    height: 30px;
    outline: none;
}
#btn-fidnProduct{
    background-color: orange;
    border: none;
    padding : 0px 30px;
    color: white;
    font-weight: bold;
}
#searchInput::placeholder{
    color: rgba(128, 128, 128, 0.507);
    font-weight: bold;
}
.cardProductStore{
    width: 85%;
    display: flex;
    justify-content: center;
}
table {
    border-collapse: collapse; 
    width: 100%; 
    margin: 20px 0;
    background-color: #ffffff; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px; 
    font-size: 14px; 
}

th {
    background-color: #029588;
    color: white; 
    font-weight: bold;
    text-transform: uppercase; 
}

tr:nth-child(even) {
    background-color: #f9f9f9; 
}

tr:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

td img {
    width: 50px; 
}

.table-container {
    overflow-x: auto;
    margin: 20px; 
    border-radius: 10px;
}


#productImage{
    width: 50px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 100%;
    
}

#formModalProduct {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px 0px 50px 50px;   
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 30%;
}

#formCreateProduct {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
#form-popupForm{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


#name{
    border: none;
    outline: none;
    border-bottom: 1px solid;
    margin: 20px 0px;
    width: 82%;
}
#priceProduct,#Quantity{
    width: 40%;
    margin: 20px 0px;
    border: none;
    outline: none;
    border-bottom: solid 1px ;
    
  }
  #upload-filde{
    border: none;
  }
@media (max-width: 428px) {
  .cardProductStore{
    padding: 0px 100px;
  }

} 